h1{
color:white ;}

.ball{
color: brown;
background-color: burlywood;
display: flex ;
justify-content: space-between;
}
.haba1{
display: flex; 
justify-content:space-around ;
flex-wrap:wrap;   
}
.haba3{
display: flex;
justify-content: flex-end;
}
p,h2{
text-align: center;    
}